extends layout

block content
  h1= title
  - let results = []
  - results.push({name: "Guitar", type: "String", price: 500})
  - results.push({name: "Piano", type: "Keyboard", price: 1500})
  - results.push({name: "Drum", type: "Percussion", price: 700})
  

  div(class="container-fluid")
    div(class="row")
      each item in results
        div(class="col-sm-2") Item #{item.name}(#{item.type}) is #{item.price}
          